body{
    background-color: rgb(41, 148, 219);
}
nav {
  display: flex;
  gap: 20px;
  background-color: #2E8B57;
  padding: 15px 30px;
  border-radius: 12px;

  display: flex;
  justify-content: center;

  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
.Hora{
    color: #2E8B57;
}