nav {
    display: flex;
    justify-content: space-around;
    background-color: #000000;
    padding: 10px;
}
.imagem {
   display: block;
    margin: 50px auto; 
    width: 1100px;
    height: auto;
    border-radius: 50px;
}
.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #fffefe;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    color: inherit;
}
body {
  /* caminho relativo ao seu projeto */
  background-image: url("images/fundo.jpg");
  background-size: cover;        /* cobre toda a tela */
  background-position: center;   /* centraliza a imagem */
  background-repeat: no-repeat;  /* não repete */
  background-attachment: fixed;  /* opcional: fixa ao rolar */
  color: #000000;                   /* ajuste a cor do texto se necessário */
}
.texto {
    text-align: center;
    color: #ffffff;
    font-size: 18px;
    margin: 20px;
}